pyrogram
git+https://github.com/pytgcalls/pytgcalls.git
yt-dlp
aiohttp
asyncio
flask
Flask-RESTful
tgcrypto
ffmpeg-python
isodate
pillow
psutil
requests
python-dotenv
asyncpg
pymongo
aiofiles
gender-guesser

